{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@tanstack/(.*)$",
    "^styled-components",
    "^@/(.*)$",
    "^@components/(.*)$",
    "^@apis/(.*)$",
    "^@assets/(.*)$",
    "^@pages/(.*)$",
    "^@typpes/(.*)$",
    "^@routes/(.*)$",
    "^@hooks/(.*)$",
    "^@stores/(.*)$",
    "^@styles/(.*)$",
    "^@utils/(.*)$",
    "^@constants/(.*)$",
    "^@stories/(.*)$",
    "^App",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "useTabs": false,
  "singleAttributePerLine": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSameLine": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "preserve-newlines": true
}
