.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 12px;
  font-family: Pretendard;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
